---
name: dummy modules
description: Exercise the dummy modules end to end.

defaults:
  {%- import ".jinja2_templates/defaults.j2" as defaults %}
  {%- macro someop() %}{% include ".jinja2_templates/defaults.yaml" with context %}{% endmacro %}
  {{ someop()|indent(2) }}

{% include ".jinja2_templates/pre.yaml.j2" %}

# "test/test-dutagent-cfg.yaml"

stages:
  - name: Test dummy modules
    steps:
      - cmd: cmd
        name: Test status
        transport:
          proto: local
        parameters:
          executable: "[[input.DUTCTL]]"
          args:
            [
              {{ defaults.DUTCTL_ARGS }},
              "{{ defaults.RPI_HOSTNAME }}",
              "dummy-status",
            ]
          expect:
            - regex: "Hello from dummy status module\nCalled with 0 arguments"
        options:
          timeout: 10s

      - cmd: cmd
        name: Test status with argument
        transport:
          proto: local
        parameters:
          executable: "[[input.DUTCTL]]"
          args:
            [
              {{ defaults.DUTCTL_ARGS }},
              "{{ defaults.RPI_HOSTNAME }}",
              "dummy-status",
              "hello",
            ]
          expect:
            - regex: "Hello from dummy status module\nCalled with 1 arguments\nArg 0: hello"
        options:
          timeout: 10s

      - cmd: cmd
        name: Test status with configured arguments
        transport:
          proto: local
        parameters:
          executable: "[[input.DUTCTL]]"
          args:
            [
              {{ defaults.DUTCTL_ARGS }},
              "{{ defaults.RPI_HOSTNAME }}",
              "dummy-status-args",
            ]
          expect:
            - regex: "Hello from dummy status module\nCalled with 2 arguments"
        options:
          timeout: 10s

      - cmd: shell
        name: Test repeat
        transport:
          proto: local
        parameters:
          command: "echo -e 'hello\nhello world\n' | [[input.DUTCTL]] {{ defaults.DUTCTL_ARGS_STR }} {{ defaults.RPI_HOSTNAME }} dummy-repeat"
          expect:
            - regex: "Hello from dummy repeat module!\nEnter one word per line."
        options:
          timeout: 10s

      - cmd: shell
        name: Create test file
        transport:
          proto: local
        parameters:
          command: "echo 'hello' > test.txt"

      - cmd: cmd
        name: Test file transfer
        transport:
          proto: local
        parameters:
          executable: "[[input.DUTCTL]]"
          args:
            [
              {{ defaults.DUTCTL_ARGS }},
              "{{ defaults.RPI_HOSTNAME }}",
              "dummy-file-transfer",
              "test.txt",
              "test2.txt",
            ]
          expect:
            - regex: "Hello from dummy file transfer module"
        options:
          timeout: 10s

      - cmd: cmd
        name: Read test file
        transport:
          proto: local
        parameters:
          executable: "cat"
          args: ["test2.txt"]
          expect:
            - regex: "processed by dummy.FT module"

{% include ".jinja2_templates/post.yaml.j2" -%}
