---
name: Test power GPIO script
description: Test power control done via GPIO with shell scripts

defaults:
  {%- import ".jinja2_templates/defaults.j2" as defaults %}
  {%- macro someop() %}{% include ".jinja2_templates/defaults.yaml" with context %}{% endmacro %}
  {{ someop()|indent(2) }}

{% include ".jinja2_templates/pre.yaml.j2" %}
{% include ".jinja2_templates/pre.gpio.yaml.j2" %}

stages:
  - name: Test GPIO power via shell script
    steps:
      # Power OFF - the new dutctl does not read state of the PIN, and the internal state is undefined at this point
      # TODO: remove once dutctl fixed
      - cmd: cmd
        name: initial dutctl power off
        transport:
          proto: local
        parameters:
          executable: "[[input.DUTCTL]]"
          args: [{{ defaults.DUTCTL_ARGS }}, "power", "off"]

      # Check status
      - cmd: cmd
        name: get dutctl power status
        transport:
          proto: local
        parameters:
          executable: "[[input.DUTCTL]]"
          args: [{{ defaults.DUTCTL_ARGS }}, "power"]
          expect:
            - regex: "Current state: off"

      - cmd: cmd
        name: check pin state
        transport: *transport_oscar
        parameters:
          executable: pinctrl
          args: ["lev", "{{ defaults.GPIO_PIN_TEST_OLIMEX }}"]
          expect:
            - regex: "0"

      # Power ON
      - cmd: cmd
        name: dutctl power on
        transport:
          proto: local
        parameters:
          executable: "[[input.DUTCTL]]"
          args: [{{ defaults.DUTCTL_ARGS }}, "power", "on"]

      - cmd: cmd
        name: get dutctl power status 2
        transport:
          proto: local
        parameters:
          executable: "[[input.DUTCTL]]"
          args: [{{ defaults.DUTCTL_ARGS }}, "power"]
          expect:
            - regex: "Current state: on"

      - cmd: cmd
        name: check pin state 2
        transport: *transport_oscar
        parameters:
          executable: pinctrl
          args: ["lev", "{{ defaults.GPIO_PIN_TEST_OLIMEX }}"]
          expect:
            - regex: "1"

      # Power OFF
      - cmd: cmd
        name: dutctl power off
        transport:
          proto: local
        parameters:
          executable: "[[input.DUTCTL]]"
          args: [{{ defaults.DUTCTL_ARGS }}, "power", "off"]

      - cmd: cmd
        name: get dutctl power status 3
        transport:
          proto: local
        parameters:
          executable: "[[input.DUTCTL]]"
          args: [{{ defaults.DUTCTL_ARGS }}, "power"]
          expect:
            - regex: "Current state: off"

      - cmd: cmd
        name: check pin state 3
        transport: *transport_oscar
        parameters:
          executable: pinctrl
          args: ["lev", "{{ defaults.GPIO_PIN_TEST_OLIMEX }}"]
          expect:
            - regex: "0"

{% include ".jinja2_templates/post.yaml.j2" -%}
