---
name: Test serial
description: Test that serial works

defaults:
  {%- import ".jinja2_templates/defaults.j2" as defaults %}
  {%- macro someop() %}{% include ".jinja2_templates/defaults.yaml" with context %}{% endmacro %}
  {{ someop()|indent(2) }}

{% include ".jinja2_templates/pre.yaml.j2" %}
{% include ".jinja2_templates/pre.serial.yaml.j2" %}

stages:
  - name: Test serial
    steps:
      - cmd: cmd
        name: Read serial
        transport:
          proto: local
        parameters:
          executable: task
          args: ["--taskfile", "[[input.TASKFILE]]", "test:read-out-serial:dutctl"]
          expect:
            - regex: "Hello World!"
        options:
          timeout: 15s

{% include ".jinja2_templates/post.yaml.j2" -%}
