  # Set sensing GPIO pins as inputs
  - cmd: cmd
    name: Configure input GPIO pins for testing 21
    transport: *transport_root
    parameters:
      executable: "pinctrl"
      args: ["set", "21", "ip", "pn"]
  - cmd: cmd
    name: Configure input GPIO pins for testing 20
    transport: *transport_root
    parameters:
      executable: "pinctrl"
      args: ["set", "20", "ip", "pn"]
  - cmd: cmd
    name: Configure input GPIO pins for testing 17
    transport: *transport_root
    parameters:
      executable: "pinctrl"
      args: ["set", "17", "ip", "pn"]
  - cmd: cmd
    name: Configure input GPIO pins for testing 27
    transport: *transport_root
    parameters:
      executable: "pinctrl"
      args: ["set", "27", "ip", "pn"]
  - cmd: cmd
    name: Configure input GPIO pins for testing 22
    transport: *transport_root
    parameters:
      executable: "pinctrl"
      args: ["set", "22", "ip", "pn"]
